<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity=""
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="room.css" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src='https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js' defer></script>

    <script src="room.js" defer></script>
    <title><%= roomId %></title>
  </head>
  <body>
    <div class="container">
      <div id="video-grid"></div>
      <div class="chat-section">
        <div id="message-container"></div>
        <form id="send-container">
          <input type="text" id="message-input" />
          <button type="submit" id="send-button">SEND</button>
        </form>
      </div>
    </div>
    <div class="menu">
      <button id="audioButton">
        <i id="audioIcon" class="fas fa-microphone"></i>
      </button>
      <button id="videoButton">
        <i id="videoIcon" class="fas fa-video"></i>
      </button>
      <button id="leave"><i class="fas fa-sign-out-alt"></i></button>
    </div>
  </body>
</html>
